<% layout('template') %>

<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Something went wrong!</h4>
    <%= err.message %>
    <% if (process.env.NODE_ENV !== 'production') { %>
        <div><%= err.stack %></div>
    <% } %>
    
</div>

