<% layout('template') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div>Showing gyms closest to you!</div>
    <ul>
        <% for(let gym of gyms) { %>
            <li><a href="/gyms/<%= gym._id %>"><%= gym.name %></a></li>
        <% } %>
    </ul>
    
</body>
</html>