<% layout('template') %>
<div><a href="/gyms/new">Add a new gym now!</a></div>

<% for(let gym of gyms) { %>
    <div class="card">
        <div class="row">
            <div class="col-md-4">
                <img src="<%= gym.image %>" class="img-fluid rounded-start" alt="photo">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= gym.name %></h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
                    <p class="card-text"><%= gym.description %></p>
                    <a href="/gyms/<%= gym._id %>">Learn more</a>
                  </div>
            </div>  
        </div>
           
      </div>
<% } %>
